<!DOCTYPE html>
<html>

<head>
    <title>
        Gusto in Tavola
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/main-style.css"/>
    <link rel="stylesheet" href="/css/topbar.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>

    <link rel="stylesheet" href="/css/form.css"/>
    <link rel="stylesheet" href="/css/dropdown.css"/>
</head>

<body>
    <div class="topbar">
        <div class="title">Recipe Site</div>

        <nav id="navigation" class="site-navigation" role="navigation">
            <ul class="menu">
                <a href="/"><li class="menu-item">Home</li></a>
                <a href="/about"><li class="menu-item">About</li></a>
                <a href="/cooks"><li class="menu-item">Vedi Cuochi</li></a>
                <li class="menu-item">Ricette
                    <ul class="dropdown">
                        <a href="/recipes"><li class="menu-item sub-menu">Vedi Ricette</li></a>
                        <a href="/recipes/new"><li class="menu-item sub-menu">Crea Ricetta</li></a>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="search-container">
            <div class="search-bar-box">
                <form action="/search" method="GET">
                    <input type="text" class="search-bar-input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class="userInfo">
            <div th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${userDetails}">
                <a href="/login">Login</a>
            </div>
        </div>
    </div>

    <div class="content">
        <form class="form" th:action="@{/cook}" method="POST" th:object="${cook}" enctype="multipart/form-data">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            </div>
            <div class="title">Iscrizione come cuoco<br><span>fornisci qualche dato in più per completare l'iscrizione</span></div>
            <input class="input" type="text" th:field="${cook.name}" th:value="${user.name}">
            <input class="input" type="text" th:field="${cook.surname}" th:value="${user.surname}">
            <input class="input" type="text" th:field="${cook.username}" th:value="${user.username}">
            <input class="input" type="date" th:field="${cook.birthDate}" placeholder="Data di nascita">
            <div class="text">Fornisci un immagine profilo:</div>
            <div>
                <input
                        name="file"
                        type="file"
                        id="file-upload"
                        accept="image/png, image/jpeg"
                        required>
            </div>

            <button class="button-confirm" type="submit">Conferma</button>
        </form>
    </div>

    <footer class="footer">
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </footer>
</body>
</html>